<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">Autonomous Vehicle Eyes</mat-toolbar>
<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/i-see-you.png" width="40%">

    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Pedestrians Make Eye Contact</h2>
      <p>Remember, if a pedestrian makes eye contact with you, they are ready to cross the street. Yield to the pedestrian. --California Driver Handbook
      </p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/i-see-you.png" width="40%">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>No Driver -> No Eyes</h2>
      <p>Self-driving vehicles don't have a human at the wheel so pedestrians need confirmation they are seen.</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/i-see-you.png" width="40%">

    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Autos Need Eyes</h2>
      <p>Auto Eyes&trade; is a simple lighting system for one-way communication from the robot to pedestrians, cyclists and other mobile humans.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/i-see-you.png" width="40%">

    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Open System</h2>
      <p>Open source / open hardware.  Pedestrian safety is too important to be owned by a single company.</p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <button mat-raised-button color="primary" (click)="whitePaper()">Read the White Paper</button>
  </div>
</div>
<router-outlet></router-outlet>
