<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">{{title}}&trade;</mat-toolbar>
<mat-toolbar><h4>Vehicle to Human Communication</h4></mat-toolbar>
<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/eye-contact.jpeg" width="40%">

    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Eye Contact</h2>
      <p>Remember, if a pedestrian makes eye contact with you, they are ready to cross the street. Yield to the pedestrian. --California Driver Handbook
      </p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/images/noun_driverless%20car_1581548.svg" width="50%" title="driverless car by Gan Khoon Lay from the Noun Project">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>No Eyes?</h2>
      <p>Self-driving vehicles don't have a human at the wheel so pedestrians need confirmation they are seen.
        Eye contact, head nods and hand waves need replacement.</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/i-see-you.png" width="40%">

    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Autos Need Eyes</h2>
      <p><a href="https://autoeyes.org" title="Auto Eyes Website">Auto Eyes</a>&trade; is a simple lighting system for one-way communication from the robot to pedestrians, cyclists and other mobile humans.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/images/Open-source-hardware-logo.svg" width="40%" title="Open Source Software / Hardware">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Open Source</h2>
      <p>Open source and open collaboration will provide a safe and consistent solution to society for the best adoption of autonomous vehicles.
        <a href="https://github.com/aroller/auto-eyes"><img src="assets/images/GitHub-Mark-120px-plus.png" title="Github Repository" width="15px"/> </a>
      </p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a mat-raised-button color="primary" href="https://docs.google.com/document/d/1lKIsqMYYO7nQ937QXdCg2oaPqeo0iI2x5D2HwVKsVNE/edit?usp=sharing">Read the White Paper</a>
  </div>

</div>

<router-outlet></router-outlet>
